*{
    margin: 0;
    padding: 0;
}

html, body { 
    height: 100%;
    
}

.header{
    background-color: red;
    padding: 20px;
}



.page-container {
    width: 100%;
    position: relative;
    height: auto !important;    /* IE6対策 */
    height: 100%;             /* IE6対策 */
    min-height: 100%;
}
.side {
    float: left;
    width: 210px;
    height: 100%;
    position:absolute;
    background-color: aqua;
}
.main {
    height: 100%;
    margin-left: 210px;
    
}
